/*Modelo de caixa*/
.conteudo{
    border: 1px solid red;
    
    padding: 20px 15px 10px 5px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    width: 150px;
}
.conteudo2{
    margin: 5px;
    width: 150px;
    border: 1px solid red;
}

